{% load static tailwind_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Example website</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
</head>

<body
        data-host="{{ request.get_host }}"
        data-scheme="{{ request.scheme }}"
>
<header>
    <nav id="nav" class="nav">{% include 'components/navbar.html' %}</nav>
</header>




{% comment %} {% include 'components/carousel.html'  %} {% endcomment %}


{% include 'components/list.html'  %}
     <main id="main">


    {% include page %}</main>





    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>