

<!-- {% load static %}
<div class="flex w-full">
<div class="w-1/3">
 <aside  class="sticky top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto  bg-gray-800">
       <ul class="space-y-2 font-medium">
        {% for c in categories %}
          <li>
             <a href="#" class="flex items-center p-2  rounded-lg text-white hover:text-gray-900 hover:bg-gray-100 group">
                <svg class="w-5 h-5  transition duration-75 text-gray-400  group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                   <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                   <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                </svg>
                <span class="ml-3">{{c.name}}</span>
             </a>
          </li>
          {% endfor %}

       </ul>
       <div id="dropdown-cta" class="p-4 mt-6 rounded-lg  bg-blue-900" role="alert">
          <div class="flex items-center mb-3">
             <span class="  text-sm font-semibold mr-2 px-2.5 py-0.5 rounded bg-orange-200 text-orange-900">Beta</span>
             <button type="button" class="ml-auto -mx-1.5 -my-1.5  inline-flex justify-center items-center w-6 h-6  rounded-lg focus:ring-2 focus:ring-blue-400 p-1 hover:bg-blue-200 h-6 w-6 bg-blue-900 text-blue-400 hover:bg-blue-800" data-dismiss-target="#dropdown-cta" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
             </button>
          </div>
          <p class="mb-3 text-sm  text-blue-400">
             Preview the new Flowbite dashboard navigation! You can turn the new navigation off for a limited time in your profile.
          </p>
          <a class="text-sm underline font-medium  text-blue-400 hover:text-blue-300" href="#">Turn new navigation off</a>
       </div>
    </div>
 </aside>





    <main class="w-2/3"  id="main">



      <a  href="#" class="flex flex-col w-full items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
         <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/docs/images/blog/image-4.jpg" alt="">
         <div class="flex flex-col justify-between p-4 leading-normal">
             <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
             <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
         </div>
     </a>




</div>

</div>
 -->

 <div class="flex w-full">
      <aside  class="sticky top-0 left-0 z-40  h-screen  hidden sm:block w-1/4  transition-transform -translate-x-full sm:translate-x-0 " aria-label="Sidebar">
         <div class="h-full px-3 py-4 overflow-y-auto  bg-gray-800">
            <ul class="space-y-2 font-medium">
             {% for c in categories %}
               <li>
                  <a href="#" class="flex items-center p-2  rounded-lg text-white hover:text-gray-900 hover:bg-gray-100 group">
                     <svg class="w-5 h-5  transition duration-75 text-gray-400  group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                     </svg>
                     <span class="ml-3">{{c.name}}</span>
                  </a>
               </li>
               {% endfor %}

            </ul>
            <div id="dropdown-cta" class="p-4 mt-6 rounded-lg  bg-blue-900" role="alert">
               <div class="flex items-center mb-3">
                  <span class="  text-sm font-semibold mr-2 px-2.5 py-0.5 rounded bg-orange-200 text-orange-900">Beta</span>
                  <button type="button" class="ml-auto -mx-1.5 -my-1.5  inline-flex justify-center items-center   rounded-lg focus:ring-2 focus:ring-blue-400 p-1  h-6 w-6 bg-blue-900 text-blue-400 hover:bg-blue-800" data-dismiss-target="#dropdown-cta" aria-label="Close">
                     <span class="sr-only">Close</span>
                     <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                     </svg>
                  </button>
               </div>
               <p class="mb-3 text-sm  text-blue-400">
                  Preview the new Flowbite dashboard navigation! You can turn the new navigation off for a limited time in your profile.
               </p>
               <a class="text-sm underline font-medium  text-blue-400 hover:text-blue-300" href="#">Turn new navigation off</a>
            </div>
         </div>
      </aside>


   <div class="flex flex-col flex-center  w-full ">
      <div class="py-1 pt-2 px-2">
      <a  href="#" style="cursor: default" class="flex flex-col w-full items-center justify-center bg-white border border-gray-200 rounded-lg shadow md:flex-row  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 p-3 ">
         <img class="object-cover  rounded-t-lg h-80 w-62 md:h-auto md:w-56 md:rounded-none md:rounded-l-lg" src="{% static 'motor.png' %}" alt="">
         <div class="flex flex-col  w-full justify-between p-4 leading-normal">
             <h5 class="mb-2 items-center justify-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
             <p class="mb-3 items-center justify-center-self font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
         </div>
     </a>
   </div>
   <div class="py-1 px-2">
      <a  href="#" style="cursor: default" class="flex flex-col w-full items-center justify-center bg-white border border-gray-200 rounded-lg shadow md:flex-row  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 p-3 ">
         <img class="object-cover  rounded-t-lg h-80 w-62 md:h-auto md:w-56 md:rounded-none md:rounded-l-lg" src="{% static 'motor.png' %}" alt="">
         <div class="flex flex-col  w-full justify-between p-4 leading-normal">
             <h5 class="mb-2 items-center justify-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
             <p class="mb-3 items-center justify-center-self font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
         </div>
     </a>
   </div>
   <div class="py-1 px-2">
      <a  href="#" style="cursor: default" class="flex flex-col w-full items-center justify-center bg-white border border-gray-200 rounded-lg shadow md:flex-row  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 p-3 ">
         <img class="object-cover  rounded-t-lg h-80 w-62 md:h-auto md:w-56 md:rounded-none md:rounded-l-lg" src="{% static 'motor.png' %}" alt="">
         <div class="flex flex-col  w-full justify-between p-4 leading-normal">
             <h5 class="mb-2 items-center justify-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
             <p class="mb-3 items-center justify-center-self font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
         </div>
     </a>
   </div>
   <div class="py-1 px-2">
      <a  href="#" style="cursor: default" class="flex flex-col w-full items-center justify-center bg-white border border-gray-200 rounded-lg shadow md:flex-row  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 p-3 ">
         <img class="object-cover  rounded-t-lg h-80 w-62 md:h-auto md:w-56 md:rounded-none md:rounded-l-lg" src="{% static 'motor.png' %}" alt="">
         <div class="flex flex-col  w-full justify-between p-4 leading-normal">
             <h5 class="mb-2 items-center justify-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
             <p class="mb-3 items-center justify-center-self font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
         </div>
     </a>
   </div>

   </div>
</div>